@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-bolditalic-webfont.woff2') format('woff2'),
      url('/assets/fonts/gotham-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-light-webfont.woff2') format('woff2'),
        url('/assets/fonts/gotham-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/gotham-lightitalic-webfont.woff2') format('woff2'),
        url('/assets/fonts/gotham-lightitalic-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
}

body {
  font-family: 'Gotham', 'Proxima Nova', 'Helvetica', 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 25px;
  margin-top: 25px;
}
h2 {
  font-weight: lighter;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 20px;
  text-decoration: underline;
}
p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 30px;
}
ul {
  list-style: disc;
  margin-bottom: 20px;
}
ul li {
  font-size: 17px;
  line-height: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}
ul li:last-child {
  margin-bottom: 0px;
}

hr {
  border: 2px solid #F37121;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

div#copyright {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div#copyright img {
  margin-top: 20px;
}

nav {
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}
nav img {
  width: auto;
}
nav img#flag-wordmark {
  height: 190px;
  margin-right: 30px;
}
nav img#flag-logo {
  height: 240px;
}
nav img#flag-banner {
  max-width: 80vw;
  height: auto;
}

main {
  width: 60vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}
div#well {
  background-color: #cfcfcf;
  line-height: 27px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

div.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div#list-abovefold {
  margin-top: 40px;
}
a.entry-wrap {
  width: 100%;
  max-width: 500px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F37121;
  border: 3px solid #F37121;
  margin-bottom: 40px;
  transition: 0.3s;
  font-size: 24px;
  color: white;
}
a.entry-wrap:hover {
  background-color: #f1a371;
  border-radius: 20px;
}
div#list-abovefold a.entry-wrap {
  margin-bottom: 60px;
}
img#discord-icn {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  nav {
    height: auto;
    flex-direction: column;
  }
  nav img#flag-wordmark {
    height: 120px;
  }
  nav img#flag-logo {
    height: 150px;
  }
  nav img#flag-banner {
    max-width: 95vw;
    height: auto;
  }
  main {
    width: 90vw;
  }
}